
@{
    ViewBag.Title = "Carrito";
    Layout = "~/Views/Shared/_layouytienda.cshtml";
}

<div class="container my-5">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <!--detalle de los productos-->
                        <div class="col-sm-9">
                         
                            <div class="me-2">
                                <div class="d-flex justify-content-between">

                                    <h5 class="ms-2 mt-2">Detalle Carrito</h5>
                                    <a class="btn btn-primary" href="@Url.Action("Index","Tienda")"><i class="fas fa-cart-plus"></i> Seguir Comprando</a>

                                </div>
                                <hr class="mt-2 mb-2" />


                                <div id="productos-carrito">

                                    <div class="card mb-2 card-producto">


                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-sm-2 align-self-center d-flex justify-content-center">
                                                    <img class="rounded" src="https://www.google.com/search?q=dummy+image+en+jpg&tbm=isch&ved=2ahUKEwiprYvz2dKAAxX2O7kGHXMLCE0Q2-cCegQIABAA&oq=dummy+image+en+jpg&gs_lcp=CgNpbWcQAzoECCMQJzoGCAAQBxAeOgcIABATEIAEOgYIABAIEB5QnQVYlhRgkBVoAHAAeACAAaoBiAHyB5IBAzAuOJgBAKABAaoBC2d3cy13aXotaW1nwAEB&sclient=img&ei=4inVZKm0OPb35OUP85ag6AQ&bih=660&biw=1396&rlz=1C1UEAD_esPE989PE989#imgrc=j6TpQsptYWXM7M&imgdii=xLgpBg_hdaCW_M" style="width:100px;height:100px" />
                                                </div>

                                                <div class="col-sm-4 align-self-center">
                                                    <span class="font-wight-bold d-block">Marca</span>
                                                    <span>Nombre Producto</span>

                                                </div>

                                                <div class="col-sm-2 align-self-center" >
                                                    <span>Precio : S/ 1500</span>
                                                </div>

                                                <div class="col-sm-2 align-self-center">
                                                    <div class="d-flex">
                                                        <button class="btn btn-outline-secondary btn-restar rounded-0">
                                                            <i class="fas fa-minus"></i>
                                                        </button>
                                                        <input class="form-control input-cantidad p-1 text-center rounded-0" disabled style="width:40px" />
                                                        <button class="btn btn-outline-secondary btn-sumar rounded-0">
                                                            <i class="fas fa-plus"></i>
                                                        </button>

                                                    </div>
                                                </div>
                                                <div class="col-sm-2 align-self-center">
                                                    <button class="btn btn-outline-danger btn-eliminar"><i class="far fa-trash-alt"></i> Eliminar </button>


                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>


                                <div class="d-flex justify-content-end">
                                    <label class="align-self-center"><b>Total : S/. <span id="total">0</span></b></label>

                                </div>

                            </div>



                        </div>
                        <!--detalle envio-->
                        <div class="col-sm-3">
                            <div class="card">
                                <div class="card-body bg-light">
                                    <h5 class="card-title">Detalle envio</h5>
                                    <form>
                                        <div class="mb-2">
                                            <label for="cbodepartamento" class="form-label">Departamento :</label>
                                            <select class="form-select form-select-sm" id="cbodepartamento"></select>
                                        </div>
                                        <div class="mb-2">
                                            <label for="cboprovincia" class="form-label">Provincia :</label>
                                            <select class="form-select form-select-sm" id="cboprovincia"></select>
                                        </div>
                                        <div class="mb-2">
                                            <label for="cbodistrito" class="form-label">Distrito :</label>
                                            <select class="form-select form-select-sm" id="cbodistrito"></select>
                                        </div>
                                        <div class="mb-2">
                                            <label for="exampleInputEmail" class="form-label">Nombre :</label>
                                            <input type="text" class="form-control form-control-sm" id="textnombrecontacto" autocomplete="off" />
                                        </div>
                                        <div class="mb-2">
                                            <label for="exampleInputEmail" class="form-label">Direccion :</label>
                                            <input type="text" class="form-control form-control-sm" id="textdireccion" autocomplete="off" />
                                        </div>
                                        <div class="mb-2">
                                            <label for="exampleInputEmail" class="form-label">Telefono :</label>
                                            <input type="text" class="form-control form-control-sm" id="texttelefono" autocomplete="off" />
                                        </div>
                                        <div class="d-grid">
                                            <button class="btn btn-success" type="button" onclick="realizarpago()">
                                               
                                                <i class="fab fa-paypal">Terminar y Procesar pago</i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    
    <script>

        $(document).ready(function () {

            jQuery.ajax({
                url: '@Url.Action("listarproductoscarrito", "Tienda")',
                type: "POST",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    $("#productos-carrito").html("");

                    $.each(response.data, function (i, item) {

                        $("<div>").addClass("card mb-2 card-producto").append(
                            $("<div>").addClass("card-body").append(
                                $("<div>").addClass("row").append(
                                    //1 numeros de columnas
                                    $("<div>").addClass("col-sm-2 align-self-center d-flex justify-content-center").append(
                                        $("<img>").addClass("rounded").attr({ "src": "data:image/" + item.oproducto.extension + ";base64," + item.oproducto.base64 })
                                            .css({"width":"100px","height":"100px"})
                                    ),
                                    //2
                                    $("<div>").addClass("col-sm-4 align-self-center").append(
                                        $("<span>").addClass("font-wight-bold d-block").text(item.oproducto.omarca.descripcion),
                                         $("<span>").text(item.oproducto.nombre)
                                    ),
                                    //3 el fofixed es para el decimales osea puse 2 para que se muestra dos ejemplo 10.00
                                    $("<div>").addClass("col-sm-2 align-self-center").append(
                                        $("<span>").text(item.oproducto.precio.toFixed(2) + " S/")
                                    ),
                                    //4
                                    $("<div>").addClass("col-sm-2 align-self-center").append(
                                        $("<div>").addClass("d-flex").append(

                                            $("<button>").addClass("btn btn-outline-secondary btn-restar rounded-0").append($("<i>").addClass("fas fa-minus")),
                                            $("<input>").addClass("form-control input-cantidad p-1 text-center rounded-0").attr({ "disabled": "disabled" }).css({ "width": "40px " }).data("oproducto", item.oproducto).val(item.cantidad),
                                                   $("<button>").addClass("btn btn-outline-secondary btn-sumar rounded-0").append($("<i>").addClass("fas fa-plus")),

                                        )
                                    ),
                                    //5
                                    $("<div>").addClass("col-sm-2 align-self-center").append(
                                        $("<button>").addClass("btn btn-outline-danger btn-eliminar").append($("<i>").addClass("fas fa-trash-alt"), "Eliminar").data("idproducto", item.oproducto.idproducto),


                                    )
                                )
                            )

                        ).appendTo("#productos-carrito")



                    })
                    sumartotal();
                }
            })
        })


        function sumartotal() {
            var sumatotal = parseFloat(0)
            $("input.input-cantidad").each(function (i) {
                var precio = $(this).data("oproducto").precio;
                var cantidad = parseFloat($(this).val())


                var subtotal = precio * cantidad;
                sumatotal += subtotal;


            })
            $("#total").text(sumatotal.toFixed(2))
            $("#total").data("sumatotal", sumatotal)

        }



        $(document).on("click", ".btn-sumar", function () {
            var div_contenedor = $(this).parent("div.d-flex");
            var input_cantidad = $(div_contenedor).find("input.input-cantidad");
            var btn = $(this)

            var idproducto = $(input_cantidad).data("oproducto").idproducto;

            jQuery.ajax({
                url: '@Url.Action("operacioncarrito", "Tienda")',
                type: "POST",
                data: JSON.stringify({ idproducto: idproducto, sumar: true }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function(data) {
                    if (data.respuesta) {
                        var cantidad = parseInt($(input_cantidad).val()) + 1;
                        $(input_cantidad).val(cantidad)
                        sumartotal()
                    } else {
                        swal("",data.mensaje,"warning")
                    }
                }
            })
        })


          $(document).on("click", ".btn-restar", function () {
            var div_contenedor = $(this).parent("div.d-flex");
            var input_cantidad = $(div_contenedor).find("input.input-cantidad");
            var btn = $(this)

            var idproducto = $(input_cantidad).data("oproducto").idproducto;

              var cantidad = parseInt($(input_cantidad).val()) - 1;


              if (cantidad >= 1) {
                         jQuery.ajax({
                url: '@Url.Action("operacioncarrito", "Tienda")',
                type: "POST",
                data: JSON.stringify({ idproducto: idproducto, sumar: false }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function(data) {
                    if (data.respuesta) {
                        $(input_cantidad).val(cantidad)
                        sumartotal()
                    } else {
                        swal("",data.mensaje,"warning")
                    }
                }
            })
              }


        })



         $(document).on("click", ".btn-eliminar", function () {

            var idproducto = $(this).data("idproducto");

             var card_producto = $(this).parents("div.card-producto");



                         jQuery.ajax({
                             url: '@Url.Action("eliminarcarrito", "Tienda")',
                         type: "POST",
                        data: JSON.stringify({ idproducto: idproducto}),
                         dataType: "json",
                        contentType: "application/json; charset=utf-8",
                             success: function (data) {
                                 if (data.respuesta) {
                                     card_producto.remove();
                                     mostrarcantidadcarrito();
                                     sumartotal();
                          } else {
                             swal("",data.mensaje,"warning")
                          }
                       }
                         })



        })


        function listardepartamento() {
            $("<option>").attr({ "value": "00","disabled":"disabled","selected":"true"}).text("Seleccionar").appendTo("#cbodepartamento")

            jQuery.ajax({
                url: '@Url.Action("ObtenerDepartamento", "Tienda")',
                type: "POST",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    if (data.lista != null) {
                        $.each(data.lista, function (i, item) {
                            $("<option>").attr({ "value": item.IdDepartamento }).text(item.Descripcion).appendTo("#cbodepartamento")
                        })

                        listarprovincia();
                    }
                }
            })
        }


        $("#cbodepartamento").on("change", function () {
            listarprovincia();
        });

        function listarprovincia() {

            $("#cboprovincia").html("")

            $("<option>").attr({ "value": "00", "disabled": "disabled", "selected": "true" }).text("Seleccionar").appendTo("#cboprovincia")

            jQuery.ajax({
                url: '@Url.Action("ObtenerProvincias","Tienda")',
                type: "POST",
                data: JSON.stringify({ IdDepartamento: $("#cbodepartamento option:selected").val() }),

                dataType: "json",
                contentType: "application/json; charset=utf-8",

                success: function (data) {
                    console.log("Éxito en la solicitud AJAX");

                    if (data.lista != null) {
                        $.each(data.lista, function (i, item) {
                            $("<option>").attr({ "value": item.IdProvincia }).text(item.Descripcion).appendTo("#cboprovincia")
                        })
                        listardistritos();
                    }
                },
                error: function (error) {
                    console.error("Error en la solicitud AJAX:", error);
                }
            })
        }


        $("#cboprovincia").on("change", function () {
            listardistritos();
        });
        function listardistritos() {

            $("#cbodistrito").html("")

            $("<option>").attr({ "value": "00", "disabled": "disabled", "selected": "true" }).text("Seleccionar").appendTo("#cbodistrito")

            jQuery.ajax({
                url: '@Url.Action("ObtenerDistritos", "Tienda")',
                type: "POST",
                data: JSON.stringify({ IdProvincia: $("#cboprovincia option:selected").val(), IdDepartamento: $("#cbodepartamento option:selected").val() }),

                dataType: "json",
                contentType: "application/json; charset=utf-8",

                success: function (data) {
                    console.log("Éxito en la solicitud AJAX");

                    if (data.lista != null) {
                        $.each(data.lista, function (i, item) {
                            $("<option>").attr({ "value": item.IdDistrito }).text(item.Descripcion).appendTo("#cbodistrito")
                        })
                    }
                },
                error: function (error) {
                    console.error("Error en la solicitud AJAX:", error);
                }
            })
        }



        $(document).ready(function () {
            listardepartamento()
        })
    </script>
    
    }